body
{
margin			: 20px 0px 0px 0px;
padding			: 0px;
font-family			: arial, sans-serif;
font-size 			: 100%;
background-color		: #666666;
}

#page
{
margin-top			: 0px;
width				: 770px;/*note padding - site is 800 wide because of 2 gutters.*/
margin			: 0px auto;
padding			: 10px 0px 0px 0px;
}

#header
{
background-image		: url(img_common/bg_header.gif);
width				: 770px;
height			: 43px;
float				: left;
text-align			: left;
}

#header p
{
float				: left;
text-align			: left;
width				: 200px;
font-size			: 75%;
font-weight			: bold;
margin			: 0px 10px 0px 0px;
padding			: 15px 0px 0px 30px;
}

#header ul
{
float				: right;
text-align			: right;
display			: inline;
height			: 33px;
margin			: 10px 15px 0px 0px;
padding			: 0px 0px 0px 0px;
}

#header li
{
display			: inline;
list-style-type		: none;
padding			: 0px 5px 0px 5px;
margin			: 0px 0px 0px 0px;
width				: 200px;
}

#header li .active
{
display			: inline;
list-style-type		: none;
padding			: 0px 5px 6px 5px;
margin			: 0px 0px 0px 0px;
width				: 200px;
border-bottom		: 8px solid #CCCCCC;
}

#header li a:link, #header li a:visited
{
color				: #333333;
font-size			: 75%;
text-decoration		: none;
padding			: 0px 0px 6px 0px;
}

#header li a:hover
{
color				: #666666;
font-size			: 75%;
text-decoration		: underline;
}

#container
{
background-image		: url(img_common/bg_body.gif);
background-repeat		: repeat-y;
width				: 770px;
margin			: 0px 0px 0px 0px;
padding			: 0px 0px 0px 0px;
float				: left;
}

#name-and-slogan
{
float				: right;
width				: 396px;
margin			: 20px 0px 0px 0px;
}

#name-and-slogan a:link, #name-and-slogan a:visited
{
font-weight			: bold;
color				: #333333;
margin			: 0px 0px 0px 0px;
text-decoration		: none;
}

#name-and-slogan a:hover
{
font-weight			: bold;
color				: #888888;
margin			: 0px 0px 0px 0px;
text-decoration		: none;
}

#sidebar-left
{
float				: left;
width				: 350px;
}

#sidebar-left-content
{
float				: left;
padding			: 0px 0px 0px 10px;
width				: 350px;
font-size			: 90%;
}

#main
{
background-image		: url(img_common/bg_container.gif);
background-repeat		: no-repeat;
float				: right;
display			: inline;
margin			: 5px 7px 0px 0px;
padding			: 25px 0px 0px 25px;
width				: 364px;
background-color		: #E5E5E5;
min-height			: 400px;
overflow			: hidden;
}

#main h1
{
font-weight			: bold;
color				: #333333;
margin			: 0px 0px 0px 0px;
text-decoration		: none;
}

#main p
{
font-size			: 75%;
color				: #333333;
margin			: 0px 10px 0px 0px;
padding			: 0px 0px 0px 0px;
line-height			: 15px;
}

#main ul
{
padding			: 0px 0px 0px 0px;
margin			: 0px 10px 0px 20px;
}

#main li
{
font-size			: 75%;
color				: #333333;
}

#main a:link, #main a:visited
{
color				: #333333;
text-decoration		: underline;
}

#main a:hover
{
color				: #333333;
text-decoration		: none;
}

#breadcrumb
{
font-size			: 70%;
}

.node
{
margin			: 0px 0px 10px 0px;
}

.node h2
{
margin			: 0px 0px 0px 0px;
}

.node h2 a:link, .node h2 a:visited
{
text-decoration		: none;
}

.meta .submitted
{
font-size			: 70%;
}

.content
{
margin			: 10px 0px 0px 0px;
}

.node_read_more a
{
font-weight			: bold;
text-decoration		: none;
}

#footer-area
{
background-image		: url(img_common/bg_footer.gif);
width				: 770px;
height			: 50px;
float				: left;
clear				: both;
}

#copyright
{
background-image		: none;
background-color		: #666666;
color				: #E5E5E5;
width				: 770px;
margin			: 0px 0px 0px 0px;
padding			: 0px 0px 0px 0px;
float				: left;
}

#copyright div#left
{
float				: left;
font-size			: 70%;
margin			: 0px 0px 10px 10px;
}

#copyright div#left p a:link, #copyright div#left p a:visited
{
color				: #E5E5E5;
text-decoration		: none;
}

#copyright div#left p a:hover
{
color				: #E5E5E5;
text-decoration		: underline;
}

#copyright #secondarydiv
{
float				: right;
font-size			: 70%;
margin			: 0px 10px 10px 0px;
}

#copyright #secondarydiv ul
{
float				: right;
text-align			: right;
display			: inline;
}

#copyright #secondarydiv li
{
display			: inline;
list-style-type		: none;
padding			: 0px 0px 0px 5px;
}

#copyright #secondarydiv a:link, #copyright #secondarydiv a:visited
{
color				: #E5E5E5;
text-decoration		: none;
}

#copyright #secondarydiv a:hover
{
color				: #E5E5E5;
text-decoration		: underline;
}

.setHeight
{
height			: 400px;
float				: right;
width				: 1px;
}

.clear /* makes parent DIV stretch to height of child - fix for firefox. but div is 1px high in IE */
{
clear			: both;
font-size		: 0em;
width			: 0px;
height		: 0px;
line-height		: 0px;
overflow		: hidden;
}